<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningplatform">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".StartExerciseActivity"></activity>
        <activity android:name=".ExerciseViewActivity" />
        <activity android:name=".TargetUserActivity" />
        <activity android:name=".ProfilePageActivity" />
        <activity android:name=".ExerciseListDisplay" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".GradeView" />
        <activity android:name=".MessageListActivity"/>
        <activity android:name=".QuestionDisplay" />
        <activity android:name=".ChatsListDisplay" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LanguageListDisplay">
            <intent-filter>
                <action android:name="com.example.learningplatform.DisplayMessage" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
    </application>

</manifest>